.footer{
    min-height: 630px;
    position: relative;
    &__info{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background-color: $main-color;
        padding: 50px 68px 60px 68px;
    }
    &__addr{
        color: #FFFFFF;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        margin-bottom: 36px;
    }
    &__phone{
        display: block;
        color: #FFFFFF;
        font-size: 20px;
        line-height: 20px;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        transition: 0.5s all;
        &:hover{
            text-decoration: none;
            color: #fff;
            box-shadow: 3px 3px 20px #000;
        }
    }
    &__social-item{
        color: #fff;
        width: 53px;
        height: 52px;
        border: 2px solid #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        margin-right: 15px;
        text-decoration: none;
        transition: 0.3s all;
        &:hover{
            color: #000;
        }
    }
    &__social{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 36px;
    }
}